@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300;1,700&display=swap');
span{
    color: rgb(207, 2, 2);
}
.box{
    height: 30px;
    width: 100%;
    background-color:darkred;
    /* text-align: center; */
    color: aliceblue;
}
.containe{
    height :250px;
    width: 100%;
    background-color: dimgray;
}

.spanrow{
    height : 25px;
}

label{
    padding-left : 50%
}
.txtbox{
    padding-right: 30%;
}
p{
    text-align: center;
}

.navbar{
    background-color: dimgray;
    font-weight: bolder;
}

body{
    overflow: hidden;
    font-family: 'Roboto' , san-serif;
    /*background-image: linear-gradient(to bottom right, green,lightgreen,lightblue,blue );*/
}

button{
    background-color: #e1ca77;
}
#formtype{
    font-weight: 500;
}
