<!-- <div class="container">
    <h2>Employee Info</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor = "let employeedata of employeedata">
                <td>{{employeedata.ID}}</td>
                <td>{{employeedata.Name}}</td>
                <td>{{employeedata.Age}}</td>
            </tr>
        </tbody> 
    </table>
</div> -->
<app-employee-data/>
